* {
    box-sizing: border-box;
}

body {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    width: 50%;
}

main {
    background-color: burlywood;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

#logo {
    border: 2px solid green;
    height: 100px;
    width: 100px;
    margin-top: 50px;
}

#where-you-eat {
    border: 2px solid green;

}

#choice-wrapper,
#language-wrapper {
    border: 2px solid green;
    display: flex;
    gap: 50px;
}

.choice-button {
    font-size: 50px;
    width: 200px;
    cursor: pointer;
}

.language-button {
    font-size: 25px;
    cursor: pointer;
}