* {
    box-sizing: border-box;
}

body {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

main {
    border: 2px solid darkgreen;
    height: 100%;
    width: 50%;
}

.screen-wrapper {
    border: 2px solid blue;
    background-color: rgb(11, 37, 46);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
}

#logo {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.eating-wrapper {
    border: 10px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: none;
}

.eating-image {
    border-radius: 10px;
}

.button-wrapper {
    /* border: 2px solid green; */
    display: flex;
    gap: 50px;
}

.choice-button {
    font-size: 40px;
    background-color: red;
    color: whitesmoke;
    border-radius: 10px;
}

#language-wrapper {
    /* border: 2px solid white; */
    margin-top: 100px;
}

.language-button {
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 10px;
    height: 50px;
    width: 170px;
}

.language-icon {
    background-color: gray;
    color: whitesmoke;
    border-radius: 5px;
    font-weight: lighter;
}

button {
    cursor: pointer;
}

#menu-header {
    border: 2px solid darkcyan;
    width: 100%;
}